


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


:root {

  --first-main: #d6ebed; 
  --second-main: #aacbf6; 
  --third-main: #fafa87; 
  --fourth-main: #e2c3bf; 
  --fifth-main: #f0e9f1; 
  --sixth-main: #603628; 
  --seventh-main: #703d10;
  --eighth-main: #65b4d9; 
  --ninth-main: #b9d8d1;
  --tenth-main: #c3a74b;
}

html {
    scroll-behavior: smooth;
    
}


body {
    background-color: var(--fifth-main);
    overflow-x: hidden;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 80em; 
   
}




#header {
    
    height: 70px;
    background-color: var(--first-main);
    position: fixed;
    
    box-shadow: 0px 5px 60px #999; 
    border-bottom: .1em solid var(--fifth-main);
    z-index: 999;
    opacity: 1;
    transition: 1s;
        
    
}

#header .area-header {
    height: 70px;
    margin: auto;
    
}

#header .menuLogo {
    width: 225px;
    height: 225px;
    position: absolute;
    border-radius: 100%;
    box-shadow: 15px 10px 15px var(--fourth-main);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    cursor: default;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    
}

@keyframes slideBottom {
    0% {
        transform: translatey(-100px);
        opacity: 0;
    }
    100% {
        transform: translatey(0px);
        opacity: 1;
    }
}

@keyframes slideScrollBottom {
    0% {
        transform: translatey(0px);
        opacity: 1;
    }
    100% {
        transform: translatey(-100px);
        opacity: 0;
    }
}







.menuLogo img {
    width: 230px;
    height: 230px;
    
    
}


#header .circulo {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: ring 2s linear infinite; 
}





@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 3px 1px #bf828f;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 3px 1px #14bCaa;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 3px 1px #FEFF86;
    }
    
}

.circulo:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
}

.menuNav {
    display: flex;
    
    justify-content: end;
    
}


.menuList {
    display: flex;  
    overflow-x: hidden;
    overflow-y: auto;
    
    
}




.menuList .nav-item {
    list-style: none;
        
}

.menuNav .nav-link {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 400;   
    color: var(--seventh-main);
    text-decoration: none;
    padding: 25px;
    
    
}

.menuNav .nav-link:hover,
.menuNav .nav-link.active {
    color: var(--eighth-main);
    
}

/* MENU SMART */

#header .logo-mobile {
    display: none;
}

.navbar-menu {
    display: none;
    gap: .5rem;
    
    margin: 2em;
    background-color: transparent;
    border: none;
    transition: .5s;

}

#hamburguer {
    width: 28px;
    border-top: 2px solid;
    color: #703d10;
    display: block;
    
}

#hamburguer::before, #hamburguer::after {
    content: '';
    width: 28px;
    background: currentColor;
    height: 2px;
    display: block;
    margin-top: 7px;
    transition: .3s;
    position: relative;
}



@media (max-width:900px) {
    .container {
        width: auto;
       
    }

    #header .menuLogo {
        width: 200px;
        height: 200px;
        left: 2em;
    }

    .menuLogo img {
        width: 203px;
        height: 203px;
        
    }

    .menuNav .nav-link {
        font-size: 1em;
        padding: 25px 15px;
        
    }

    
}

@media (min-width:290px) and (max-width:700px) {

          
    .container {
        width: auto;
    
        
    }
    
    .menuList {
        display: block;
        flex-direction: column;
        right: 0;
        text-align: end;
        transition: 1s;
        background: rgba(208, 243, 247, .8);
        width: 100%;
        position: absolute;
        top: 65px;
        height: 0;
        overflow-y :hidden;
        visibility: hidden;
        overflow-x: hidden;
    }

    

    .menuList.active {
        
        height: 18.5em;
        visibility: visible;
        overflow-y:auto;
        transition: all ease 1s;
    }

    .navbar-menu.active #hamburguer {
        border-top-color: transparent;
    }

    
    .navbar-menu.active #hamburguer::before {
        transform: rotate(135deg);
        
    }

    .navbar-menu.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -9px;
    }



    #header {
        
        align-items: center;
    }

    #header .area-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .navbar-menu {
        display: block;
        
    }

    .menuNav .nav-link {
        font-size: 1em;
        padding: 1.2em;
        border-bottom: 1px solid var(--eighth-main);
        padding-right: 2em;
    }

    

    #header .logo-mobile {
        
        display: flex;
        width: 7.5em;
        margin-left: 1.5em;
    }

    #header .menuLogo, .menuLogo img {
        display: none;
        width: 9em;
        height: 9em;
        left: 2em;
        z-index: 999;
    }

    
    
}




/* SECTION HOME */

.Home {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-height: calc(50em + 90px);
}

.home-area {
    display: flex;
    justify-content: space-between; 
    gap: 3em;
    height: calc(100vh + 70px);
   
}


#Home .home-area1-info {
    display: flex;
   
    
    flex-direction: column;
    min-width: 50%;
    justify-content: center;
    margin: 0;
    padding-bottom: 3em; 
    cursor: default;
    
}

#Home .home-area1-info h1 {
    
    font-size: 85px;
    color: var(--sixth-main);
   
    padding-bottom: 10px;
    font-weight: normal;
    font-family: 'Bitthai','Sacramento';
}

#Home .home-area1-info p {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--seventh-main);
    line-height: 1.7em;     
    width: 30em;
}

#Home .social-icons {
    margin-top: 1.7em;
    
    display: flex;
}

#Home .social-icons a {
    text-decoration: none;
    
}

#Home .home-area1-info i {
    font-size: 1.2em;   
    color: var(--sixth-main);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    margin-right: 0.3em;
    
    
}

#Home .home-area1-info i .bi.bi-instagram {
    border: .1em solid var(--fifth-main);
    border-radius: 50%;
    padding: .5em;
    transition: 0.3s;
    background: linear-gradient(-90deg,var(--first-main),var(--fourth-main));
}

#Home .home-area1-info i .bi.bi-whatsapp {
    border: .1em solid var(--fifth-main);
    border-radius: 50%;
    padding: .5em;
    transition: 0.3s;
    background: linear-gradient(-90deg,var(--first-main),var(--fourth-main));
}

#Home .home-area1-info i .bi.bi-tiktok {
    border: .1em solid var(--fifth-main);
    border-radius: 50%;
    padding: .5em;
    transition: 0.3s;
    background: linear-gradient(-90deg,var(--first-main),var(--fourth-main));
}

#Home .home-area1-info i .bi.bi-instagram:hover {
    border: .1em solid var(--seventh-main);
    color: var(--seventh-main);
    transform: scale(1.1);
    background: transparent;
}

#Home .home-area1-info i .bi.bi-whatsapp:hover {
    border: .1em solid var(--seventh-main);
    color: var(--seventh-main);
    transform: scale(1.1);
    background: transparent;
    
}

#Home .home-area1-info i .bi.bi.bi-tiktok:hover {
    border: .1em solid var(--seventh-main);
    color: var(--seventh-main);
    transform: scale(1.1);
    background: transparent;
    
}


#Home .home-circulo2 {
    position: relative;
    right: -3em;
    bottom: 45em;
    width: 50em;
    height: 50em;
    border-radius: 50%;
    border: 30px solid var(--tenth-main);
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 25px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    overflow-y: hidden;
}

.home-area2 {
    position: relative;
    
    
}

.home-area2 .home-circulo1 img {
    width: 40em;
    position: relative;
    top: 7.1em;
    z-index: 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    
}

#Home .home-circulo1 {
    
    
    left: 8em;
    width: 45em;    
    height: 45em;
    border-radius: 50%;
    border: 5px solid var(--tenth-main);
    position: relative;
    background-color: var(--first-main);
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 3s;
    
} 

@keyframes slideLeft {
    0% {
        transform: translatex(100px);   
        opacity: 0;
    }
    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}

@media (max-width:900px) {
    .Home {
        height: calc(40em + 90px);
    }


    
    #Home .home-area1-info {
        
        min-width: 50%;
        min-width: 0;
    }

    #Home .home-area1-info h1 {
        font-size: 3.5em;
        padding-top: 2em;
        
    }

    #Home .home-area1-info p {
        font-size: 1.2em;
        max-width: 15em;
    }

    .home-area2 .home-circulo1 img {
        width: 32em;
        top: 7em;   
    }

    #Home .home-area2 {
        max-width: 27em;
    
    }
    #Home .home-circulo2 {
        width: 40em;
        height: 40em;
        bottom: 32em;
        position: relative;
        right: 2em;
        
        border: 25px solid var(--tenth-main);
    }
    
    #Home .home-circulo1 {
        width: 35em;
        height: 35em;
        position: relative;
        left: 3em;
        top: 2em;
    }
}

@media (min-width:320px) and (max-width:700px) {
    .container {
        width: auto;
    }
    
    .home-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        height: calc(100vh + 70px);
    }
    
    #Home .home-area1-info {
        width: auto;
        display: flex;
        justify-content: center;
        z-index: 10;
        flex-direction: row;
        margin: 0;
        

    }

    #Home .home-area2 {
        margin-top: 2em;
        position: static;
        align-items: center ;
        gap: 1em;
    }

    #Home .home-circulo1 {
        width: 22em;
        height: 22em;
        top: -3em;
        left: 3em;
        position: relative;
        border: 5px solid var(--tenth-main);

    }

    .home-area2 .home-circulo1 img {
        width: 20em;
        top: 5.5em;
        right: 1em;
        position: relative;
    }

    #Home .home-circulo2 {
        width: 24em;
        height: 24em;
        bottom: 22em;
        position: relative;
        left: .5em;    
        border: 15px solid var(--tenth-main);
        
    
    }

    #Home .social-icons {
        flex-direction: column;
        
        justify-content: end;
    }

    #Home .home-area1-info i {
        margin: .2em;
        font-size: 1.2em;
    }

    #Home .home-area1-info h1 {
        font-size: 3.5em;
        
        padding-top: 2em;
        text-align: center;
    }

    #Home .home-area1-info p {
        text-align: center;
        font-size: 1.2em;
        padding: 0;
        
    }

    
}

@media (min-width:290px) and (max-width:319px) {
    .container {
        width: 100%;
    }
    #Home .home-area1-info {
        
        display: flex;
        padding: 2.5em;   
        justify-content: center;
        z-index: 10;
        
        flex-direction: row;
        margin: 0;

    }

    .home-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 0;
        height: calc(100vh + 70px);
    }

    #Home .home-area2 {
        margin: 1em;
        position: static;
        align-items: center ;
        gap: 1em;
    }

    #Home .home-circulo1 {
        width: 18em;
        height: 18em;
        top: -1em;
        left: 3em;
        position: relative;
        border: 3px solid var(--tenth-main);

    }

    .home-area2 .home-circulo1 img {
        width: 17em;
        top: 3em;
        right: 1.5em;
        position: relative;
    }

    #Home .home-circulo2 {
        width: 20em;
        height: 20em;
        bottom: 18em;
        position: relative;
        left: .5em;
        border: 10px solid var(--tenth-main);
        
    
    }

    #Home .social-icons {
        flex-direction: column;
        justify-content: end;
        padding-bottom: 1em;
        gap: .5em;
        
    }

    #Home .home-area1-info i {
        margin: .2em;
        font-size: 1.1em;
    }

    #Home .home-area1-info h1 {
        font-size: 3em;
        padding-top: 2em;
        text-align: center;
        
    }

    #Home .home-area1-info p {
        text-align: center;
        font-size: 1.1em;
        padding: 0;
        margin-bottom: 1em;
    }
}


/* SECTION SOBRE NOS */

.SobreNos {
    display: flex;
    justify-content: center;
    
    padding: 2em;
   
    
}
.SobreNos .area-SobreNos {
    display: flex;
    justify-content: space-between;
    gap: 5em;   
}

.SobreNos .border-SobreNos {
    position: relative;
    z-index: 5;
    margin-top: 8em;
    margin-bottom: 3em;
    width: 35em;
    height: 35em;
    border-radius: 50%;
    border: 15px solid #dede81;
    box-shadow: 0px 0px 40px var(--tenth-main);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.SobreNos .border-SobreNos img {
    width: 35em;
    
}

.SobreNos .info-SobreNos {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    max-width: 45em;
    z-index: 5;
    
}

.SobreNos .info-SobreNos h1 {
    font-size: 55px;
    color: var(--sixth-main);
    
    padding-bottom: 0.5em;
    font-family: 'Bitthai','Sacramento';
    font-weight: 500;
    

}

.SobreNos .info-SobreNos p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--seventh-main);
    line-height: 1.7em;
    flex-wrap: wrap;
    
    
}


/* SECTION PRODUTOS */

.ProdutBorder3 {

    width: 80em;
    height: 80em;
    border-radius: 50%;
    border: 2.5em solid #ecec8d;
    
    position: absolute;
    top: 42em;
    left: -30em;
    animation: slideRight 3s ease forwards;
    animation-delay: 4s;
    z-index: 1;
}
.ProdutBorder3 .ProdutBorder4 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #dede81;
    
}
@keyframes slideRight {
    0% {
        transform: translatex(-400px);   
        opacity: 0;
    }
    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}

@media (max-width:900px) {
    .SobreNos .area-SobreNos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 0;
    }

    .SobreNos .info-SobreNos h1 {
        text-align: center;
    }

    .SobreNos .info-SobreNos p {
        text-align: center;
    }

    .SobreNos .border-SobreNos {
        margin-bottom: 6em;
    }

    .ProdutBorder3 {
        width: 70em;
        height: 70em;
        top: 42em;
        left: -20em;
        border: 2em solid #ecec8d;
        
    }

    
}

@media (min-width:290px) and (max-width:700px) {

    .ProdutBorder3 {
        
        max-width: 50em;
        max-height: 50em;
        top: 48em;
        left: -25em;
        border: 1.5em solid #ecec8d;
        overflow-x: hidden;
    }

    

    .SobreNos .border-SobreNos, .border-SobreNos img {
        width: 20em;
        height: 20em;
        border: 10px solid #dede81;
    }

    .SobreNos .info-SobreNos h1 {
        text-align: center;
    }

    .SobreNos .info-SobreNos p {
        text-align: center;
    }

    .SobreNos .border-SobreNos {
        margin-bottom: 6em;
    }
}

.Produtos {

    
    margin-top: 2.5em;
    background: rgba(222, 235, 232, .3);
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: relative;
    margin-bottom: 2.5em;
}

#Produtos .area-name-Produtos {
    display: flex;
    flex-direction: column;
    
}
#Produtos h1 {
    display: flex;
    justify-content: center;
    font-size: 6em; 
    color: var(--sixth-main);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 1.5em; 

}

 

#Produtos h3 {
    display: flex;
    justify-content: center;
    font-size: 4.5em;
    color: var(--seventh-main);
    font-family: 'Bitthai','Sacramento';
    font-weight: 400;

}


.Produtos .barraProdutos {
    display: flex;
    justify-content: center;
    list-style: none;
    
    margin-top: 2em;
    
}

.Produtos .barraProdutos li {
    font-family: 'Montserrat', sans-serif;
    margin: 3em;
    padding: 2em;
    font-size: .9em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: .3em solid transparent;
    cursor: pointer;
    font-weight: 600;
    color: var(--seventh-main);
}

.Produtos .barraProdutos li:hover {
    width: 8em;
    height: 8em;
    border: .3em solid var(--eighth-main);
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1.5rem var(--eighth-main);
    transition: 1s;
}

.Produtos .barraProdutos li.active {
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    background-color: var(--eighth-main);
    box-shadow: 0 0 1.5rem var(--eighth-main);
    transition: 0.5s;
}

.Produto-area-img {
    display: flex;
    justify-content: center;
    
    margin-top: 2em;
    padding-bottom: 40px;
    
}


.Produto-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5em 2em;
    justify-content: center;
    padding: 0;
     
}


.Produtos .Produto-area li {
    display: none;
       
    list-style: none;
    width: 20em;
    height: auto;  
    border-radius: 10px;
    box-shadow: 0 0 1.5rem var(--eighth-main);
    overflow: hidden;
    transition: all 0.2s;
    animation: animationImg 1s ease-in-out forwards;
}

@keyframes animationImg {
    0% {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.Produtos .Produto-area li img, video {
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 100%; 
    transition: transform 0.4s;
    
} 


.Produtos .Produto-area li:hover img {
    transform: scale(1.15);
            
}

.Produtos .Produto-area li:hover {
    border: 3px solid var(--eighth-main);
    border-radius: 10px;
} 



.Produtos .Produto-area li.active {
    display: block;
}



.outrosprodutos {
    display: flex;
    justify-content: center;
    background-color: var(--third-main);
    margin-top: 5em;        
    
}


#Produtos .info-outrosprodutos h1 {
    width: 500px;
    font-family: 'Bitthai','Sacramento';
    font-weight: 400;
    font-size: 6em;
    
}


.Produtos .produtosextras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5em;

}



.img-grid1 {
    
    background-image: url('../images/grid/pave-1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 18em;
    
}

.img-grid2 {
    
    background-image: url('../images/grid/pave-2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 18em;
}

.img-grid3 {
    
    background-image: url('../images/grid/pave-3.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 18em;
}

@media (max-width:900px) {

    #Produtos h1 {
        font-size: 4.5em;
    }

    #Produtos h3 {
        font-size: 3.5em;
    }

    .Produtos .barraProdutos li {
        
        margin: 1.2em;
        padding: 2em;
        font-size: 0.7em; 
    }

    .Produto-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .Produtos .produtosextras {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .img-grid1, .img-grid2, .img-grid3 {
        height: 28em;
    }

}

@media (min-width:290px) and (max-width:700px) {
    #Produtos h1 {
        font-size: 3em;
    }

    #Produtos h3 {
        font-size: 3em;
    }

    .Produto-area {
        gap: 1em 1em;
    }

    .Produtos .barraProdutos li {
        
        margin: .5em;
        padding: 0;
        font-size: .6em; 
    }

    .Produtos .Produto-area li {
        width: 10em;
    }
    .img-grid1, .img-grid2, .img-grid3 {
        height: 15em;
    }
}

/* KIT FESTA */

.KitFesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 5em;
    
}

.KitFesta .area-kitFesta-titulo {
    text-align: center;
    
}

.KitFesta .area-kitFesta {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    
    gap: 1em;

}



.KitFesta li {
    list-style: none;
    padding: 10px ;
    color: var(--sixth-main);
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.KitFesta li:hover {
    font-weight: 600;
}

.KitFesta h1 {
    color: var(--sixth-main);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 6em;
    margin-top: .4em;
    
}

.KitFesta h3 {
    color: var(--seventh-main);
    font-family: 'Bitthai','Sacramento';
    font-weight: 400;  
    font-size: 2.5em;
    text-align: center;
}

.KitFesta p {
    font-size: 4.5em;
    color: var(--seventh-main);
    font-family: 'Bitthai','Sacramento';
    font-weight: 400;   
}

.KitFesta a {
    display: block;
    text-align: center;
    margin-top: 1em;
    border: .1em solid var(--eighth-main);
    background: transparent;
    padding: .6em;   
    border-radius: .5em;
    color: var(--eighth-main);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    transition: 0.3s;
    text-decoration: none;
}

.KitFesta a:hover {
    background-color: var(--eighth-main);
    color: #fff;
      
}

.KitFesta .kits {
   
    
    border: 1px solid var(--eighth-main);
    padding: 2.5em 3.5em;
    border-radius: 5px;
    background: linear-gradient(var(--first-main),var(--fifth-main));
    transition: 0.3s;
    
}

.KitFesta .kits:hover {
    box-shadow: 0em 0em 3em var(--second-main);  
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width:900px) {
    .KitFesta h1 {
        font-size: 5em;
    }

    .KitFesta p {
        font-size: 4em;
    }

    .KitFesta .area-kitFesta {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
        


}

@media (min-width:290px) and (max-width:700px) {

    .KitFesta .area-kitFesta {
        gap: .9em;
    }
    .KitFesta h1 {
        font-size: 4em;
    }

    .KitFesta p {
        font-size: 3.5em;
    }

    .KitFesta .kits {
   
        padding: .7em 1.2em;
        
    }

    .KitFesta .kits h3 {
   
        font-size: 1.5em;
        
    }

    .KitFesta .kits ul li {
   
        font-size: .8em;
        min-width: 10em;
        
        
    }
}

/* ORÇAMENTO */

.contato {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;
}



.contato .formValidator {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
}   

.contato h1 {
    color: var(--sixth-main);
    font-weight: 400;
    font-size: 8em;
    font-family: 'Bitthai','Sacramento';
    margin-bottom: .5em;    
    margin-top: .8em;
}

.contato p {
    font-size: 1em;
    color: var(--seventh-main);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 1em;
    font-style: italic;
}

.contato .formValidator .area-labelflex {
    display: flex;
    gap: 1em;
}

.contato .formValidator .form-column {
    display: flex;
    flex-direction: column;
    
}

.contato .formValidator .form-column input, textarea { 
    margin-bottom: 1em;
    
    padding: 1em;
    border: none;
    background: transparent;
    color: var(--seventh-main);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    outline: 0;
    border-bottom: .1em solid var(--eighth-main);
    padding-left: 0;
}

.contato .formValidator textarea {
    width: 100%;
    resize: none;
}

.contato .formValidator input::placeholder, textarea::placeholder {
    color: var(--sixth-main);   
}

.contato .button {
    margin-top: 2em;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    display: block;
    border: .1em solid var(--eighth-main);
    border-radius: .5em;
    color: var(--eighth-main);
    transition: 0.3s; 
    background: linear-gradient(-90deg,var(--ninth-main),var(--fifth-main));  

}

.contato .button:hover {
    background: transparent;
    background-color: var(--eighth-main);
    color: #fff;
    transform: scale(1.02);
}

.contato .error {
    font-size: 14px;
    color: #ff0000; 
    width: 100%;    
    padding: 0;
}

@media (max-width:900px) {
    .contato .formValidator .area-labelflex {
        flex-direction: column;
        gap: 0;
    }
    

    .contato h1 {
        font-size: 6em;
        margin-bottom: .2em;
        margin-bottom: 0;
    }

    .contato .formValidator input::placeholder, textArea::placeholder {
        font-size: .9em;
    }

    .contato .formValidator .form-column input, textarea {
        padding: 1em;
    }
}

@media (min-width:290px) and (max-width:700px) {
    .contato h1 {
        font-size: 5.5em;
        padding-bottom: .3em;
    }
}

/* FOOTER */

footer {
    background-color: var(--second-main);
    border-top: 1px solid var(--eighth-main);
    padding: 1em;
    display: flex;
    justify-content: center;    
    
}

footer .column {
    display: flex;
    flex-direction: column;
}


footer .area-footer {
    display: flex;
    
    justify-content: space-around;
    padding: 1em;
}


footer .area-footer-endereco {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 25em;
    border-right: 1px solid var(--eighth-main);
    border-left: 1px solid var(--eighth-main);
}


footer .area-footer-endereco li {
    list-style: none;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    color: var(--sixth-main);   
}



footer h1 {
    display: flex;
    margin-bottom: 2em;
    justify-content: center;
    
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    color: var(--sixth-main);
    
}

footer .area-footer-contato {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 25em;
}

footer .area-footer-contato li {
    list-style: none;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    color: var(--sixth-main);
    
}

footer .social-icons {
    flex: 1;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

footer .area-icons {
    display: flex;
    justify-content: space-evenly;
}

.col-info {
    display: flex;
    justify-content: space-around;
}
footer .copy {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--eighth-main);
}

footer .copy h5 {
    color: var(--sixth-main);
    font-size: .9em;
    font-family: 'Montserrat', sans-serif;
    padding: .7em;
    font-weight: 400;
    
}

footer .copy h5 i.bi.bi-heart{
    color: #f00;
    
}

footer .social-icons i {
    font-size: 1em;
    color: #fff;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-icons a {
    text-decoration: none;  
    
}

footer .social-icons i .bi.bi-instagram,
i .bi.bi-whatsapp, i .bi.bi-tiktok {
    
    border-radius: 50%;
    padding: .6em;
    transition: 0.3s;
    background: var(--tenth-main);
    margin-right: .5em;
}



footer .social-icons i .bi.bi-instagram:hover {
    
    color: #fff;
    transform: scale(1.2);
    background: var(--eighth-main);
}

footer .social-icons i .bi.bi-whatsapp:hover {
   
    color: #fff;
    transform: scale(1.2);
    background: var(--eighth-main);
    
}

footer .social-icons i .bi.bi.bi.bi-tiktok:hover {
    color: #fff;
    transform: scale(1.2);
    background: var(--eighth-main);
}

@media (max-width:900px) {
    
    
    footer .social-icons {
        width: 40em;
        justify-content: space-between;
        padding: 2em;
        padding-top: 0;
    }

    footer .area-footer-endereco {
        width: 40em;
        justify-content: space-between;
        padding: 2em;
    }

    footer .area-footer-contato {
        width: 40em;
        justify-content: space-between;
        padding: 2em;
    }

    footer .area-footer-endereco .start, .area-footer-contato .start {
        text-align: start;
    }

    footer .area-footer-endereco .end, .area-footer-contato .end {
        text-align: end;
    }


    footer .area-footer {
        flex-direction: column;
        align-items: center;
    }

    footer .area-footer-endereco {
        border-top: 1px solid var(--eighth-main);
        border-bottom: 1px solid var(--eighth-main);
        border-left: none;
        border-right: none;
    }

    footer .copy {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:290px) and (max-width:700px) {
    footer .social-icons {
        width: 30em;
        justify-content: space-between;
       
    }

    footer .area-footer-endereco {
        width: 30em;
        
    }

    footer .area-footer-contato {
        width: 24em;
        
    }

    footer .copy h5 {
       width: 24em;
       text-align: center;
    }
}